<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="/landingpage/component-landing.css" />

    <!-- buttons stylesheet -->
    <link rel="stylesheet" href="buttons.css" />

    <title>AM-Buttons</title>
  </head>
  <body>
    <header>
      <nav class="desktop">
        <div class="title">
          <img class="logo" src="/images/Logo-modified.png" alt="" />
          <h2>AM-Comp</h2>
        </div>
        <ul>
          <li>
            <a class="border-radius-S" href="/index.html"
              ><i class="fas fa-home"></i
            ></a>
          </li>
          <li>
            <a class="border-radius-S" href="https://github.com/AmishMishra11"
              ><i class="fab fa-github"></i
            ></a>
          </li>
          <li>
            <a
              class="border-radius-S"
              href="https://www.linkedin.com/in/amish-mishra-98b43221a/"
              ><i class="fab fa-linkedin"></i
            ></a>
          </li>
          <li>
            <a
              class="border-radius-S"
              href="https://twitter.com/The_Scarcastic1"
              ><i class="fab fa-twitter-square"></i
            ></a>
          </li>
        </ul>

        <!-- hamburger code -->
        <button class="hamburger">
          <div class="bar"></div>
        </button>
        <!-- hamburger code close -->
      </nav>
    </header>

    <!-- secondary nav for hamburger open -->
    <nav class="mobile-nav">
      <!-- social links -->

      <ul>
        <li>
          <a class="border-radius-S" href="/index.html"
            ><i class="fas fa-home"></i
          ></a>
        </li>
        <li>
          <a class="border-radius-S" href="https://github.com/AmishMishra11"
            ><i class="fab fa-github"></i
          ></a>
        </li>
        <li>
          <a
            class="border-radius-S"
            href="https://www.linkedin.com/in/amish-mishra-98b43221a/"
            ><i class="fab fa-linkedin"></i
          ></a>
        </li>
        <li>
          <a class="border-radius-S" href="https://twitter.com/The_Scarcastic1"
            ><i class="fab fa-twitter-square"></i
          ></a>
        </li>
      </ul>
      <hr />

      <!-- aside nav -->

      <aside class="mobile-aside">
        <ul>
          <li>
            <a
              class="border-radius-S alert-link"
              href="/components/alert/alert.html"
              >Alert</a
            >
          </li>
          <li>
            <a
              class="border-radius-S avatar-link"
              href="/components/avatar/avatar.html"
              >Avatar</a
            >
          </li>
          <li>
            <a
              class="border-radius-S badge-link"
              href="/components/badge/badge.html"
              >Badge</a
            >
          </li>
          <li>
            <a
              class="border-radius-S buttons-link"
              href="/components/buttons/buttons.html"
              >Button</a
            >
          </li>
          <li>
            <a
              class="border-radius-S card-link"
              href="/components/card/card.html"
              >Card</a
            >
          </li>
          <li>
            <a
              class="border-radius-S images-link"
              href="/components/images/images.html"
              >Image</a
            >
          </li>
          <li>
            <a
              class="border-radius-S input-link"
              href="/components/input/input.html"
              >Input</a
            >
          </li>
          <li>
            <a
              class="border-radius-S navigation-link"
              href="/components/navigation/navigation.html"
              >Navigation</a
            >
          </li>
        </ul>
        >
      </aside>
    </nav>
    <!-- secondary nav close -->

    <div class="container-main">
      <aside>
        <ul>
          <li>
            <a
              class="border-radius-S alert-link"
              href="/components/alert/alert.html"
              >Alert</a
            >
          </li>
          <li>
            <a
              class="border-radius-S avatar-link"
              href="/components/avatar/avatar.html"
              >Avatar</a
            >
          </li>
          <li>
            <a
              class="border-radius-S badge-link"
              href="/components/badge/badge.html"
              >Badge</a
            >
          </li>
          <li>
            <a
              class="border-radius-S buttons-link"
              href="/components/buttons/buttons.html"
              >Button</a
            >
          </li>
          <li>
            <a
              class="border-radius-S card-link"
              href="/components/card/card.html"
              >Card</a
            >
          </li>
          <li>
            <a
              class="border-radius-S images-link"
              href="/components/images/images.html"
              >Image</a
            >
          </li>
          <li>
            <a
              class="border-radius-S input-link"
              href="/components/input/input.html"
              >Input</a
            >
          </li>
          <li>
            <a
              class="border-radius-S navigation-link"
              href="/components/navigation/navigation.html"
              >Navigation</a
            >
          </li>
        </ul>
        >
      </aside>
      <main>
        <div class="header">
          <!-- Buttons starts here -->
          <h2>Buttons</h2>
          <hr />
          <p>
            Buttons are the clickable things that perform a specific task or
            take you to a perticular webpage.
          </p>
          <!-- primary -->
          <div class="primary">
            <h3>Primary Buttons</h3>

            <p>
              There are two types of buttons available, use class
              <span> button</span> on the parent container and use class
              <span> button-primary </span>for primary button and
              <span> button-secondary</span> for secondary buttons
            </p>
          </div>
          <div class="button">
            <button class="button-primary border-radius-L">Primary</button>
            <button class="button-secondary border-radius-L">Secondary</button>
          </div>
          <iframe
            src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C1%29&t=seti&wt=none&l=auto&width=680&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=47px&ph=30px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522button%2522%253E%250A%2520%2520%253Cbutton%2520class%253D%2522button-primary%2520border-radius-L%2522%253EPrimary%253C%252Fbutton%253E%250A%2520%2520%253Cbutton%2520class%253D%2522button-secondary%2520border-radius-L%2522%253E%250A%2520%2520%2520%2520Secondary%250A%2520%2520%253C%252Fbutton%253E%250A%253C%252Fdiv%253E"
            style="
              width: 100%;
              height: 266px;
              border: 0;
              transform: scale(1);
              overflow: hidden;
            "
            sandbox="allow-scripts allow-same-origin"
          >
          </iframe>

          <!-- links -->
          <div class="links-container">
            <h3>Links</h3>
            <p>
              There are two types of links available, use class
              <span>link</span> on the parent container and use class
              <span> primary-link </span>for primary links and
              <span> secondary-link</span> for secondary links.
            </p>
          </div>
          <div class="link">
            <a class="primary-link border-radius-S" href="">Primary </a>
            <a class="secondary-link border-radius-S" href="">Secondary </a>
          </div>
          <iframe
            src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C1%29&t=seti&wt=none&l=auto&width=680&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=47px&ph=30px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522link%2522%253E%250A%2520%2520%253Ca%2520class%253D%2522primary-link%2520border-radius-S%2522%2520href%253D%2522%2522%253EPrimary%2520%253C%252Fa%253E%250A%2520%2520%253Ca%2520class%253D%2522secondary-link%2520border-radius-S%2522%2520href%253D%2522%2522%253ESecondary%2520%253C%252Fa%253E%250A%253C%252Fdiv%253E"
            style="
              width: 100%;
              height: 229px;
              border: 0;
              transform: scale(1);
              overflow: hidden;
            "
            sandbox="allow-scripts allow-same-origin"
          >
          </iframe>

          <!-- icons -->
          <div class="icons-container">
            <h3>Icon</h3>
            <p>
              Sometimes we need icons as linking different pages of our
              websites. For designing icons as links use class
              <span>icon</span> on the parent container.
            </p>
          </div>
          <div class="icon">
            <a href="#">
              <i class="far fa-heart"></i>
            </a>
            <a href="#">
              <i class="far fa-star"></i>
            </a>
          </div>
          <iframe
            src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C1%29&t=seti&wt=none&l=auto&width=680&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=47px&ph=30px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522icon%2522%253E%250A%2520%2520%253Ca%2520href%253D%2522%2523%2522%253E%250A%2520%2520%2520%2520%253Ci%2520class%253D%2522far%2520fa-heart%2522%253E%253C%252Fi%253E%250A%2520%2520%253C%252Fa%253E%250A%2520%2520%253Ca%2520href%253D%2522%2523%2522%253E%250A%2520%2520%2520%2520%253Ci%2520class%253D%2522far%2520fa-star%2522%253E%253C%252Fi%253E%250A%2520%2520%253C%252Fa%253E%250A%253C%252Fdiv%253E"
            style="
              width: 100%;
              height: 303px;
              border: 0;
              transform: scale(1);
              overflow: hidden;
            "
            sandbox="allow-scripts allow-same-origin"
          >
          </iframe>
          <!-- floating action button -->
          <div class="floating-button-container">
            <h3>Floating Action Button</h3>
            <p>
              If you want to display a floating button on your web page use
              class <span>fab</span> and inside use a button and it will appear
              as a floatin button.
            </p>
          </div>
          <div class="fab">
            <div class="container">
              <button class="border-radius-Circle">
                <i class="fas fa-plus"></i>
              </button>
            </div>
          </div>
          <iframe
            src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C1%29&t=seti&wt=none&l=auto&width=680&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=47px&ph=30px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522fab%2522%253E%250A%2520%2520%253Cdiv%2520class%253D%2522container%2522%253E%250A%2520%2520%2520%2520%253Cbutton%2520class%253D%2522border-radius-Circle%2522%253E%250A%2520%2520%2520%2520%2520%2520%253Ci%2520class%253D%2522fas%2520fa-plus%2522%253E%253C%252Fi%253E%250A%2520%2520%2520%2520%253C%252Fbutton%253E%250A%2520%2520%253C%252Fdiv%253E%250A%253C%252Fdiv%253E"
            style="
              width: 430px;
              height: 284px;
              border: 0;
              transform: scale(1);
              overflow: hidden;
            "
            sandbox="allow-scripts allow-same-origin"
          >
          </iframe>
          <!-- button ends here -->
        </div>
      </main>
    </div>

    <script src="/landingpage/component-landing.js"></script>
  </body>
</html>
