@import url(/stylesheets/default.css);

main header {
  height: 100%;
}
.list-link {
  background-color: var(--extra-color);
}

/* list css */

.list {
  background-color: var(--secondary-color);
  border-radius: 5px;
  padding: var(--gap-small);
}

.list-item {
  padding: var(--gap-small);
  margin: var(--gap-small);
  background-color: var(--extra-color);
}

.stacked {
  display: flex;
}
