@import url(/stylesheets/default.css);

main header {
  height: 100%;
}
.modal-link {
  background-color: var(--extra-color);
}

/* modal css */
.modal {
  width: 20rem;
  display: flex;
  flex-direction: column;
  padding: var(--gap-small);
  margin: var(--gap-medium);
  background-color: var(--secondary-color);
}

.header-modal {
  display: flex;
  justify-content: space-between;
}

.close {
  background-color: var(--extra-color);
  padding: var(--gap-smallest);
  border-radius: 50%;
}
.action-btn {
  display: flex;
  justify-content: flex-end;
}
.action-btn button {
  border-radius: 5px;
  margin: var(--gap-smallest);
  padding: var(--gap-small);
  background-color: var(--extra-color);
}
